@{
    ViewBag.Title = "Cursos";
}
<div id="content">
    <h1 align="center">CURSOS</h1>
    <div class="perfil">
        @foreach (var itemcur in @ViewBag.listacurso)
        {     
            <div class="public">     
                <h3>@Html.ActionLink("Leer mas..", "Vcurso", new { id = itemcur.idPublicacion }) </h3>
                <h3>Publicado por: </h3><h2>@itemcur.nombre</h2>
                <h3>Titulo: </h3><h2>@itemcur.titulo</h2>
                @foreach (var ss in @itemcur.archivo)
                {
                    <img src='@ss.rutavirtual' alt="@ss.rutavirtual" height="60" width="50"/> 
                } 
                <h3>Detalle:</h3><h2> @Html.Raw(@itemcur.detalle)</h2>
            </div>
         }
     </div>
</div>