@model proyect.Models.Tutorial
@{
    ViewBag.Title = "Tutorial";
}
<div id="content">
    <h1 class="cursivebig" align="center">TUTORIAL</h1>
    <div class="contacto">
        @using (Html.BeginForm("Tutorial", "Publicacion", FormMethod.Post, new { enctype = "multipart/form-data" }))
        { 
            @Html.ValidationSummary(true)
            <h3> &#10004 INGRESAR DATOS DEL TUTORIAL</h3>
            <div>subir imagen del articulo:</div>
            <input name="tutoFile" type="file"/><br/>
            <div class="editor-label">
                @Html.LabelFor(model => model.titulo)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.titulo)
                @Html.ValidationMessageFor(model => model.titulo)
            </div>
        
            <div class="editor-label">
                @Html.LabelFor(model => model.nombrecate)
            </div>
            <div class="editor-label">
                @Html.TextBoxFor(model => model.nombrecate)
                @Html.ValidationMessageFor(model => model.nombrecate)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.detalle)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.detalle)
                @Html.ValidationMessageFor(model => model.detalle)
            </div>
            <p>
                <input type="submit" value="Enviar"/>
            </p>
        }
    </div>
</div>