@model proyect.Models.Articulo
@{
    ViewBag.Title = "ReeditarArticulo";
}
<div class="contacto">
    <h1>ReeditarArticulo</h1>
    @using (Html.BeginForm())
     { 
            <div class="show-label">
                @Html.LabelFor(m => m.titulo)
            </div>
            <div class="show-field">
                @Html.TextBoxFor(m => m.titulo)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model=>model.nombrecate)
            </div>
            <div class="editor-label">
                @Html.TextBoxFor(model => model.nombrecate, new { @style= "width:200px"})
                @Html.ValidationMessageFor(model=>model.nombrecate)
            </div>
            <div class="article-content">
                @Html.EditorFor(m => m.detalle)
            </div>
            <p> 
                <input type="submit" value="Modificar Articulo"/>
            </p>
    }
</div>