@model proyect.Models.Articulo
@{
    ViewBag.Title = "articulo";
}

<h2>articulo</h2>

@using (Html.BeginForm()) {
     
    @Html.ValidationSummary(true)
 
    <fieldset>
        <legend>BlogPost</legend>
 
        <div class="editor-label">
            @Html.LabelFor(model => model.titulo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.titulo)
            @Html.ValidationMessageFor(model => model.titulo)
        </div>
 
        <div class="editor-label">
            @Html.LabelFor(model => model.fecha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fecha)
            @Html.ValidationMessageFor(model => model.fecha)
        </div>
 
        <div class="editor-label">
            @Html.LabelFor(model => model.puntuacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.puntuacion)
            @Html.ValidationMessageFor(model => model.puntuacion)
        </div>
 
        <div class="editor-label">
            @Html.LabelFor(model => model.detalle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.detalle)
            @Html.ValidationMessageFor(model => model.detalle)
        </div>
 
        <p>
            <input type="submit" value="Create" />
        </p>
 
        <p>
            Posted Content : @ViewBag.HtmlContent
        </p>
 
    </fieldset>
}